<header class="masthead col-md-4">
    <div class="inner text-center">
        <a href="{{ site.BASE_PATH }}/">
            <img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="center-block img-circle img-responsive" />
        </a>
        <h1>{{ site.name }}</h1>
        <p class="lead">{{ site.description }}</p>

        <div id="contact-list" class="text-center">
            <ul class="list-unstyled list-inline">
                {% if site.author.github %}
                <li>
                    <a class="btn btn-circle btn-sm" href="https://github.com/{{ site.author.github }}">
                        <i class="fa fa-github-alt fa-lg fa-2x fa-inverse"></i>
                    </a>
                </li>
                {% endif %} {% if site.author.twitter %}
                <li>
                    <a class="btn btn-circle btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
                        <i class="fa fa-twitter fa-lg fa-2x"></i>
                    </a>
                </li>
                {% endif %} {% if site.author.email %}
                <li>
                    <a class="btn btn-circle btn-sm" href="mailto:{{ site.author.email }}">
                        <i class="fa fa-envelope fa-lg fa-2x"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul id="contact-list-secondary" class="list-unstyled list-inline">
                {% if site.author.pinterest %}
                <li>
                    <a class="btn btn-default btn-sm" href="https://pinterest.com/{{ site.author.pinterest }}">
                        <i class="fa fa-pinterest fa-lg"></i>
                    </a>
                </li>
                {% endif %} {% if site.author.linkedin %}
                <li>
                    <a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                </li>
                {% endif %} {% if site.author.resume %}
                <li>
                    <a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
                        <i class="fa fa-rss fa-lg"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="colophon">
            <ul class="colophon-links">
                <li>
                    <a href="httdanps://github.com/mdo/hyde/archive/v{{ site.version }}.zip">Download</a>
                </li>
                <li>
                    <a href="https://github.com/mdo/hyde">GitHub project</a>
                </li>
            </ul>
            <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
    </div>
</header>
