.masthead {
  color: #fff;
  background-color: $color-sidebar-background;
  h1 {
    margin-top: 0;
    font-family: $font-sidebar-heading;
  }
  a {
    color: $color-sidebar-link;
  }
  .inner {
    padding: 20px;
  }
  .lead {
    color: $color-sidebar-lead;
  }
}


/* Masthead content */
// .masthead .lead {
//   margin-bottom: 0;
// }
// .masthead a {
//   color: #fff;
// }

/* Footer area of masthead */
.colophon {
  margin-top: 20px;
  color: rgba(255,255,255,.5);
}
.colophon-links {
  padding-left: 0;
  list-style: none;
}
.colophon-links li {
  color: inherit;
}

/* Responsive masthead */
@media (min-width: 768px) {
  .masthead-inner {
    padding: 40px;
  }
}
@media (min-width: 990px) {
  /* Fix the masthead to the side for impact and awesomeness */
  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    margin-bottom: 0;
  }
  .masthead-inner {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .masthead h1 {
    font-size: 64px;
  }
  .colophon {
    margin-top: 40px;
  }
}
