$color-background: #eee;
$color-main: #258fb8;
$color-font: #454441;
$color-gray01: #666;
$color-gray02: #999;
$color-gray03: #ccc;
$color-gray04: #ddd;
$color-gray05: #fff;

$color-sidebar-background: #2a2a2a;
$color-sidebar-font: #454441;
$color-sidebar-link: #fff;
$color-sidebar-link-hover: #666;
$color-sidebar-lead: #fff;
